* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

:root {
	--fonte-principal: "Jolly Lodger";
	--fonte-secundaria: "Rubik";
	--color-principal: #fe772d;
	--color-texto-secudario: #f5f5f5;
	--colo-texto-botao: #292d32;
}

body {
	width: 100%;
	height: auto;
		margin: 0;
	
}
